<div class="container" style="display: flex; justify-content: center; align-items: center;">
  <div>
    <button mat-raised-button color="primary" *ngIf="!enableSearch" (click)="enableSearchPatient()">Search Patient</button>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <button mat-raised-button color="primary" *ngIf="!enableAdd" (click)="enableAddPatient()">Add Patient</button>
  </div>
</div>

<br/>
<br/>

<div class="container" style="display: flex; justify-content: center; align-items: center;" *ngIf="enableSearch">
  <mat-form-field>
    <mat-label>Patient Id</mat-label>
    <input matInput [(ngModel)]="searchPatientId" placeholder="" value="">
  </mat-form-field>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <mat-form-field>
    <mat-label>Firstname</mat-label>
    <input matInput [(ngModel)]="searchFirstname" placeholder="" value="">
  </mat-form-field>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <mat-form-field>
    <mat-label>Lastname</mat-label>
    <input matInput [(ngModel)]="searchLastname" placeholder="" value="">
  </mat-form-field>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Date of Birth</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="searchDOB">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>

<br/>
<div class="container" style="display: flex; justify-content: center; align-items: center;" *ngIf="enableSearch">
  <button mat-raised-button (click)="searchPatient()">Search</button>
</div>

<div class="container" style="display: flex; justify-content: center; align-items: center;" *ngIf="enableAdd">

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="firstname">
    </mat-form-field>

    <span>&nbsp;&nbsp;&nbsp;</span>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="lastname">
    </mat-form-field>

    <span>&nbsp;&nbsp;&nbsp;</span>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
        <mat-option value="unknown">Unknown</mat-option>
      </mat-select>
    </mat-form-field>

    <span>&nbsp;&nbsp;&nbsp;</span>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="dob">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>


  <span>&nbsp;&nbsp;&nbsp;</span>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email">
    </mat-form-field>

    <span>&nbsp;&nbsp;&nbsp;</span>

    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput [(ngModel)]="contactNumber" placeholder="123-456-7890">
    </mat-form-field>


</div>

<br/>

<div class="container" style="display: flex; justify-content: center; align-items: center;" *ngIf="enableAdd">


  <br/>
  <span>&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label>Address - Street</mat-label>
    <input matInput [(ngModel)]="street">
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label>Address - City</mat-label>
    <input matInput [(ngModel)]="city">
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label>Address - State</mat-label>
    <input matInput [(ngModel)]="state">
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field>
    <mat-label>Address - Country</mat-label>
    <input matInput [(ngModel)]="country">
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select [(ngModel)]="language">
      <mat-option value="en">English</mat-option>
      <mat-option value="es">Spanish</mat-option>
      <mat-option value="fr">French</mat-option>
      <mat-option value="it">Italian</mat-option>
      <mat-option value="zh">Chinese</mat-option>
    </mat-select>
  </mat-form-field>

  <span>&nbsp;&nbsp;&nbsp;</span>

  <mat-form-field appearance="fill">
    <mat-label>Marital Status</mat-label>
    <mat-select [(ngModel)]="maritalstatus">
      <mat-option value="A">Annulled</mat-option>
      <mat-option value="D">Divorced</mat-option>
      <mat-option value="I">Interlocutory</mat-option>
      <mat-option value="L">Legally Separated</mat-option>
      <mat-option value="M">Married</mat-option>
      <mat-option value="P">Polygamous</mat-option>
      <mat-option value="S">Never Married</mat-option>
      <mat-option value="T">Domestic partner</mat-option>
      <mat-option value="U">unmarried</mat-option>
      <mat-option value="W">Widowed</mat-option>
      <mat-option value="UNK">Unknown</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<br/>

<div class="container" style="display: flex; justify-content: center; align-items: center;" *ngIf="enableAdd">
  <button mat-raised-button color="primary" (click)="addPatient()">Add Patient</button>
</div>

<span>&nbsp;&nbsp;&nbsp;</span>
<div class="container mt-6" *ngIf="rowData.length > 0">
  <div class="d-flex justify-content-center bg-secondary mb-3">
    <ag-grid-angular
      #patientListGrid
      id="patientListGrid"
      style="width: 100%;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      [frameworkComponents]="frameworkComponents"
    >
    </ag-grid-angular>
  </div>
</div>


<!--<div class="container" style="display: flex; justify-content: center; align-items: center;" *ngIf="enableAddInjury">
  <button mat-raised-button color="primary" (click)="addInjury()">Add Injury</button>
</div>-->
