/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

.ag-theme-alpine {
@include ag-theme-alpine((odd-row-background-color: #CFD8DC));
}


.imm-warning {
  background-color: #f35b5b !important;
}

.emg-warning {
  background-color: #fcb241 !important;
}


.urg-warning {
  background-color: #f8f84f !important;
}


.s-urg-warning {
  background-color: #48fa59 !important;
}


.no-urg-warning {
  background-color: #5ea1fd !important;
}


.routercontent {
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slide-toggle-thumb {
  width: 10px !important;
  height: 10px !important;
  transform: translate(50%, 50%);
}

.mat-slide-toggle-bar {
  background-color: #4a4646;
  border-radius: 15px !important;
  height: 16px !important;
}

.mat-slide-toggle-thumb-container {
  top: -2px !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #4583e7;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #fff;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
  background-color: #4583e7 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
  background-color: #4583e7 !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
  background-color: #4583e7 !important;
}
