<div class=" d-flex justify-content-center" >
  <div [ngClass]="backgroundColor">
    <br/>
    <h3>

      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <strong> Name: </strong>{{patient?.name}} &nbsp;&nbsp;&nbsp;
      <strong>Age: </strong> {{patient?.age}}&nbsp;&nbsp;&nbsp;
      <strong>Last Seen: </strong> {{patient?.lastseen}}&nbsp;&nbsp;&nbsp;
      <strong>Location: </strong>
      <mat-form-field class="example-full-width">
        <mat-label>Enter Location</mat-label>
        <input matInput [(ngModel)]="newLocation" placeholder={{patient?.location}} value="{{patient?.location}}">
      </mat-form-field>
      <!--<strong>Status: </strong>{{patient?.status}}&nbsp;&nbsp;&nbsp;-->
      <strong>Code: </strong>
      <mat-form-field *ngIf="patient && patient.code" appearance="fill">
        <mat-label>Select Code</mat-label>
        <mat-select [(ngModel)]="patient.code">
          <mat-option value="ESI-1">ESI-1</mat-option>
          <mat-option value="ESI-2">ESI-2</mat-option>
          <mat-option value="ESI-3">ESI-3</mat-option>
          <mat-option value="ESI-4">ESI-4</mat-option>
          <mat-option value="ESI-5">ESI-5</mat-option>
        </mat-select>
      </mat-form-field>

      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <strong>Practitioner: </strong>
      <mat-form-field *ngIf="patient && patient.code" appearance="fill">
        <mat-label>Select Practitioner</mat-label>
        <mat-select [(ngModel)]="staff">
          <mat-option *ngFor="let staff of staffList" [value]="staff.id">
            {{staff.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button mat-flat-button color="" (click)="update()">Update</button>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

    </h3>
  </div>
</div>
<h1>&nbsp;</h1>

<div *ngIf="patient && patient.id">
<div class="container" style="display: flex; justify-content: center; align-items: center;">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button mat-flat-button color="primary" (click)="addVisit()" [disabled]="patient?.seenby == ''">Add Note</button>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button mat-flat-button color="primary" (click)="addInjury()">Add Injury</button>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
</div>

<h1>&nbsp;</h1>

<div class="container" style="display: flex; justify-content: center; align-items: center;">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">

      <img src="../../assets/profile.jpg" height="217" width="203"/>
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-info">Personal Information</strong>
        <h3 class="mb-0">
          <p class="text-dark"><strong>Patient Id:</strong> {{patientId}}</p>
          <p class="text-dark"><strong>Firstname:</strong> {{patient?.firstname}}</p>
          <p class="text-dark" ><strong>Lastname: </strong>{{patient?.lastname}}</p>
          <p class="text-dark" ><strong>Birthdate:</strong> {{patient?.dob}}</p>
          <p class="text-dark" ><strong>Marital Status: </strong>{{patient?.maritalstatus}}</p>
          <p class="text-dark" ><strong>Gender: </strong>{{patient?.gender}}</p>
          <p class="text-dark" ><strong>Address: </strong>{{address}}</p>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-info">Emergency Contacts</strong>
        <h3 class="mb-0">
          <div *ngFor="let contact of emergencyContacts" >
            <p class="text-dark" ><strong>Name:</strong> {{contact.name}}</p>
            <p class="text-dark" ><strong>Relationship:</strong> {{contact.relationship}}</p>
            <p class="text-dark" ><strong>Gender:</strong> {{contact.gender}}</p>
            <p class="text-dark" ><strong>Contact:</strong> {{contact.phone}}</p>
            <p class="text-dark" ><strong>Address:</strong> {{contact.address}}</p>
            <br/>
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container" style="display: flex; justify-content: center; align-items: center;">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-info">History</strong>
        <h3 class="mb-0">
          <div *ngFor="let hist of history" >
            <p *ngIf="hist.author != 0" class="text-dark" ><strong>Practitioner:</strong> {{hist.author}}</p>
            <p *ngIf="hist.author == 0" class="text-dark" ><strong>Practitioner:</strong> Triage System</p>
            <p class="text-dark" ><strong>Reason:</strong> {{hist.note}}</p>
            <p class="text-dark" ><strong>Time:</strong> {{hist.time}}</p>
            <br/>
          </div>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-info">Notes</strong>
        <h3 class="mb-0">
          <div *ngFor="let note of notes" >
            <p class="text-dark" ><strong>Practitioner:</strong> {{note.name}}</p>
            <p class="text-dark" ><strong>Note:</strong> {{note.note}}</p>
            <p class="text-dark" ><strong>Time:</strong> {{note.time}}</p>
            <br/>
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>


<div class="container" style="display: flex; justify-content: center; align-items: center;">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-info">System Injuries</strong>
        <ag-grid-angular
          #staffListGrid
          id="staffListGrid"
          style="width: 100%;"
          class="ag-theme-alpine"
          [rowData]="systemInjuries"
          [columnDefs]="systemColumnDefs"
          [defaultColDef]="defaultColDef"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-info">Body Injuries</strong>
        <ag-grid-angular
          #staffListGrid2
          id="staffListGrid2"
          style="width: 100%;"
          class="ag-theme-alpine"
          [rowData]="bodyInjuries"
          [columnDefs]="bodyColumnDefs"
          [defaultColDef]="defaultColDef"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
</div>
